.container
{
	display: grid;
	grid-column-gap: 100px;
	grid-template-columns: 300px 500px;
	justify-content: center;
	align-content: center;
}

.item
{
	display: inline-flex;
	
}

ol li button
{	
	margin-left: 5px;
}